.preview-container {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin: 5px;
    padding: 3px;
}

.preview-title {
    cursor: pointer;
}

.reply-container {
    margin-left: 20px;
}

div {
    overflow-wrap: break-word;
}

#pending-adminTitle, #pending-adminInfo {
    margin: 5px;
}

#single-container, #create-container, #login-container, #register-container, #edit-container, #editors-container {
    margin: 5px;
}

.preview-container > * {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

#create-image-preview, #edit-image-preview, .preview-image {
    max-width: 400px;
    max-height: 300px;
}

#single-image {
    max-width: 65%;
    max-height: 400px;
}

#create-image-remove, #edit-image-remove {
    margin-top: 5px;
    margin-bottom: 5px;
}