{% extends "clubs/layout.html" %}
{% load static %}

{% block body %}
    <div id="clubs-container"></div>

    <div id="single-container"></div>

    <div id="create-container">
        <h3>Add New Club</h3>
        <h6>A request for the club page will be submitted and approved by a site administrator.</h6>
        <div id="create-errorMessage"></div>
        <form onsubmit="submit_club();return false" id="create-form">
            <div class="form-group">
                <input id="create-title" class="form-control" placeholder="Club Title">
            </div>
            <div class="form-group">
                <textarea id="create-description" class="form-control" placeholder="Club Description"></textarea>
            </div>
            <div class="form-group">
                <textarea id="create-announcement" class="form-control" placeholder="Club Announcement"></textarea>
            </div>
            <div id="create-image-container" class="form-group">
                <div id="create-image-label">Upload Image for Club Page</div>
                <input type="file" id="create-image-input" accept="image/*">
                <button type="button" id="create-image-remove" class="btn btn-primary" style="display: none;">Remove Image</button>
                <br>
                <img id="create-image-preview" src="#" alt="">
            </div>
            <input type="submit" class="btn btn-primary" value="Submit Club Request">
        </form>
    </div>

    <div id="edit-container">
        <h3>Edit Club Page Content</h3>
        <div id="edit-errorMessage"></div>
        <form onsubmit="edit_club();return false" id="edit-form">
            <div class="form-group">
                <input disabled id="edit-title" class="form-control" placeholder="Club Title">
            </div>
            <div class="form-group">
                <textarea id="edit-description" class="form-control" placeholder="Club Description"></textarea>
            </div>
            <div class="form-group">
                <textarea id="edit-announcement" class="form-control" placeholder="Club Announcement"></textarea>
            </div>
            <div id="edit-image-container" class="form-group">
                <h6 id="edit-image-info">Upload New Image</h6>
                <input type="file" id="edit-image-input" accept="image/*">
                <button type="button" id="edit-image-remove" class="btn btn-primary" style="display: none;">Cancel Uploaded Image</button>
                <img id="edit-image-preview" src="#" alt="">
                <hr>
                <label id="edit-image-label">
                    <input type="checkbox" id="edit-image-none" />  Select this to have no image on the club page (overrides uploaded image).
                </label>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit Club Edit">
        </form>
    </div>

    <div id="editors-container">
        <h3 id="editors-display">Change Authorized Club Editors</h3>
        <hr>
        <div id="editors-errorMessage"></div>
        <h4>Add Editor: </h4>
        <form onsubmit="add_editor();return false" id="editors-add-form">
            <div class="form-group">
                <input id="editors-add-input" class="form-control" placeholder="Editor Email">
            </div>
            <input type="submit" class="btn btn-primary" value="Confirm Adding Editor">
        </form>
        <hr>
        <h4>Remove Editor: </h4>
        <form onsubmit="remove_editor();return false" id="editors-remove-form">
            <div class="form-group">
                <select id="editors-remove-input" class="form-control">
            </div>
            <input type="submit" class="btn btn-primary" value="Confirm Removing Editor">
        </form>
    </div>

    <div id="form-container" style="display: none;">
        <div id="post-container" style="display: none;">
            <h3 id="post-title">New Message</h3>
            <div id="post-errorMessage"></div>
            <form id="post-form">
                <textarea class="form-control" id="post-content" placeholder="Message Content"></textarea>
                <input type="submit" class="btn btn-primary" id="post-submit" value="Post Message"/>
            </form>
        </div>
        <div id="postReply-container" style="display: none;">
            <h3 id="postReply-title">New Reply</h3>
            <div id="postReply-errorMessage"></div>
            <form id="postReply-form">
                <textarea class="form-control" id="postReply-content" placeholder="Reply Content"></textarea>
                <input type="submit" class="btn btn-primary" id="postReply-submit" value="Post Reply"/>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'clubs/index.js' %}"></script>
{% endblock %}