{% extends "clubs/layout.html" %}
{% load static %}

{% block body %}
    <div id="clubs-div">
        <div id="create-div">
            <h3>Add New Club</h3>
            <div id="create-message"></div>
            <form onsubmit="submit_club();return false" id="create-form">
                <div class="form-group">
                    <input id="create-title" class="form-control" placeholder="Club Title">
                </div>
                <div class="form-group">
                    <textarea id="create-description" class="form-control" placeholder="Club Description"></textarea>
                </div>
                <div class="form-group">
                    <textarea id="create-announcement" class="form-control" placeholder="Club Announcement"></textarea>
                </div>
                <input type="submit" class="btn btn-primary" value="Submit Club Request">
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'clubs/index.js' %}"></script>
{% endblock %}