{% extends "clubs/layout.html" %}
{% load static %}

{% block body %}
    <div id="clubs-container"></div>

    <div id="form-container" style="display: none;">
        <div id="post-container" style="display: none;">
            <h3 id="post-title">New Message</h3>
            <div id="post-errorMessage"></div>
            <form id="post-form">
                <textarea class="form-control" id="post-content" placeholder="Message Content"></textarea>
                <input type="submit" class="btn btn-primary" id="post-submit" value="Post Message"/>
            </form>
        </div>
        <div id="postReply-container" style="display: none;">
            <h3 id="postReply-title">New Reply</h3>
            <div id="postReply-errorMessage"></div>
            <form id="postReply-form">
                <textarea class="form-control" id="postReply-content" placeholder="Reply Content"></textarea>
                <input type="submit" class="btn btn-primary" id="postReply-submit" value="Post Reply"/>
            </form>
        </div>
    </div>

    <div id="single-container">
    </div>

    <div id="create-container">
        <h3>Add New Club</h3>
        <div id="create-errorMessage"></div>
        <form onsubmit="submit_club();return false" id="create-form">
            <div class="form-group">
                <input id="create-title" class="form-control" placeholder="Club Title">
            </div>
            <div class="form-group">
                <textarea id="create-description" class="form-control" placeholder="Club Description"></textarea>
            </div>
            <div class="form-group">
                <textarea id="create-announcement" class="form-control" placeholder="Club Announcement"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit Club Request">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'clubs/index.js' %}"></script>
{% endblock %}